* {box-sizing: border-box;}

:root {
    --prim: #26292e;
    --sec1: #e7718b;
    --sec2: #f4f4f6;
    --tert: #ffffff; 
    --footer: #26292e;
    --border-color: #fce3e7;
    --font1: Twinkle Star; 
}

/* tags */

/* classes */

/* ids */
