/* using margin, padding, and float */

* {box-sizing: border-box;}

:root {
    --prim: #26292e;
    --sec1: #e7718b;
    --sec2: #f4f4f6;
    --tert: #ffffff; 
    --footer: #26292e;
    --border-color: #fce3e7;
    --font1: Twinkle Star; 
}



/* tag names */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}


/* class */
#headerSection {
    background-color: var(--prim);
    position: relative;
}

.heading {
    left: 120px;
    border: 1px solid red;
    color:#ffffff;
    font-family: var(--font1);
    font-weight: lighter;
    font-size: 35px;
}

.container {
    border: 1px solid gold;
}

.nav-list {
    position: absolute;
    top: 0;
    right: 250px;
}

.nav-list {
    border: 1px solid yellow;
}

.li-item {
    display: inline;
}

.list-text {
    position: relative;
    color: #ffffff;
    padding: 10px;
}

.computer-image {
    position: relative;
    left: 36%;
    bottom: 90px;
}

/* ids */

#section1 {
    background-color: var(--sec1);
}

#blockHeading1 {
    border: 1px solid white;
    position: relative;
    left: 0%;
}



