/* using margin, padding, and float */
* {box-sizing: border-box;}

:root {
    --prim: #26292e;
    --sec: #e7718b;
    --tert: #ffffff; 
    --section2: #f4f4f6;
    --footer: #26292e;
    --border-color: #fce3e7;
    --font1: Twinkle Star; 
}



/* tag names */


/* class */
.container {
    border: 1px solid greenyellow;
    margin: 30px;
}

/* ids */

